asgiref==3.8.1
beautifulsoup4==4.13.4
Django==5.2
django-cors-headers==4.7.0
django-rest-framework==0.1.0
djangorestframework==3.16.0
google==3.0.0
grpcio==1.71.0
grpcio-tools==1.71.0
protobuf==5.29.4
setuptools==80.0.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
